<html>
	<head>
		<title>Michelle's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="https:djangogirls.org">Django GIrls Blog</a></h1>
		</div>

		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}

		<div>
			<p>published:21.10.2017</p>
			<h2><a href="">My first Post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cu</p>
		</div>
	</body>


